/*Reset CSS*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video 
	{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/*Main Html*/

.container{ width: 1024; margin: auto; } 
.clear{clear: both;}

.header{ background-image: url(../img/header3.jpg); background-size: contain ; background-repeat: no-repeat;   }
.header{  background-position: right; background-color: black;  font-family: stencil std;}
.header div{margin-left: 115px;  }
.header img{ padding-left: 40px; }
.header a{text-decoration: none; color:red; font-size: 25px;margin-left:  180px;  }
.header a:hover{background-image: url(../img/i.gif); background-size: 110px 110px; border-radius: 40px; color: green; padding:  7px 12px 7px; }

.para{ background-color: black; background-size: cover; background-attachment: fixed; color: darkgray; }
.para{ background-image: url(../img/f.gif); }
.para{ font-size: 40px; padding-left: 200px; padding-right: 200px; padding-top: 100px; padding-bottom: 100px; font-family: Segoe UI Black;}

.footer{ background-image: url(../img/footer5.jpg);   background-size:contain; background-repeat: no-repeat; background-position: left; }
.footer{ font-family:ZCOOL QingKe HuangYou; color: green; font-size: 25px;  background-color: black;}
